/* Classes */

:root {
    --bright-fi: #FFF2D7;
    --timer-highlight: #08D19D;
    --timer-highlight-glow: #08D19DB0;
    --dark-fi: #11100E;
}

* {
    user-select: none;
    transition: all 0.3s cubic-bezier(.15,.43,.62,1);
}

.absolute {
    position: absolute;
    display: flex;
}

.cover {
    position: absolute;
    z-index: -1;

    resize: both;
    width: 40vh;

    left: calc(15vw + 40px);
    top: 50%;
    transform: translateY(-50%);

    border-radius: 8px;
}

.cover:hover {
    transform: translateY(calc(-50% - 1vh));
    filter: drop-shadow(0px 1vh 15px var(--bright-fi-glow));
}

.img-link {
    text-decoration: none;
    cursor: pointer;
}

.timer {
    font-family: 'DM Sans', sans-serif;
    font-size: calc(9vw + 30px);
    font-weight: bold;
    margin: 0;

    top: 48%;
    left: 45%;
    transform: translateY(-50%);

    color: var(--timer-highlight);
    text-shadow: 0px 3px 10px var(--timer-highlight-glow);
}

.label {
    font-family: 'DM Sans', sans-serif;
    font-size: calc(1.5vw + 20px);
    margin: 0;
    left: 45%;

    color: var(--dark-fi);
}


/* IDs */

#upper-label {
    top: calc(20% + 30px);
    color: var(--bright-fi);
}

#lower-label {
    font-weight: bold;
    font-size: calc(0.8vw + 12px);
    bottom: calc(27% + 30px);
}

#lowerer-label {
    bottom: calc(17.5% + 30px);
}
